<div class='row'>
  <div class='col-xs-12'>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
	<a href="#branches" role="tab" data-toggle="tab">
	  Branches</a></li>
      <li role="presentation">
	<a href="#tags" role="tab" data-toggle="tab">
	  Tags</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="branches">
	<table class="table table-condensed">
	  <% _.each(branches, function(branch) { %>
	    <tr>
	      <td style="padding-bottom: 2px">
		<strong><%= branch.name %></strong>
		<% if (branch.default) { %>
		  <span class="badge badge-primary">default</span>
		<% } %>
	      </td>
	      <td rowspan="2" style="vertical-align:middle">
		<a href="#"
		   class="branch-button"
		   data-which="<%= branch.ref %>">
		  <span style="width: 70px; display: inline-block;">
		    <%= branch.hash %></span></a>
		<a class="btn btn-primary btn-xs instantiate-refspec-button"
		   type=button
		   href="instantiate.php?profile=<%= uuid %>&refspec=<%= branch.ref %>"
		   style='margin-left: 10px; margin-bottom: 4px;'
		   data-which="<%= branch.ref %>">Instantiate</a>
	      </td>
	    </tr>
	    <tr>
	      <td style="border: 0px; padding-top: 2px">
		  <%= branch.log %>
	      </td>
	    </tr>
	  <% }); %>
	</table>
      </div>
      <div role="tabpanel" class="tab-pane" id="tags">
	<table class="table table-condensed">
	  <% _.each(tags, function(tag) { %>
	    <tr>
	      <td style="padding-bottom: 2px">
		<strong><%= tag.name %></strong>
	      </td>
	      <td rowspan="2" style="vertical-align:middle">
		<a href="#" class="branch-button"
		   data-which="<%= tag.ref %>">
		  <span style="width: 70px; display: inline-block;">
		    <%= tag.hash %></span></a>
		<a class="btn btn-primary btn-xs instantiate-refspec-button"
		   type=button
		   href="instantiate.php?profile=<%= uuid %>&refspec=<%= tag.ref %>"
		   style='margin-left: 10px; margin-bottom: 4px;'
		   data-which="<%= tag.ref %>">Instantiate</a>
	      </td>
	    </tr>
	    <tr>
	      <td style="border: 0px; padding-top: 2px">
		<%= tag.log %>
	      </td>
	    </tr>
	  <% }); %>
	</table>
      </div>
    </div>
  </div>
</div>
