<style>
 .panel-body-dashboard {
     padding: 2px;
 }
 .table-dashboard {
     margin: 1px;
 }
 .popover{
     max-width: 800px;
 }
 .fixedsize-panel {
     max-height:350px;
     height:350px;
 }
 .table-condensed > thead > tr > th,
 .table-condensed > tbody > tr > th,
 .table-condensed > tfoot > tr > th,
 .table-condensed > thead > tr > td,
 .table-condensed > tbody > tr > td,
 .table-condensed > tfoot > tr > td {
     padding: 2px;
 }
 .panel-heading-list {
     padding: 2px;
 }
 .tablesorter-green th.sorter-false .tablesorter-header-inner {
     padding-left: 4px;
 }
</style>
<div class='col-sm-12'>
  <div class='panel panel-default'>
    <div class='panel-heading panel-heading-list'>
      <h4 class="text-center">Reservations</h4>
    </div>
    <div class='panel-body'>
      <div id='nogroups' class=hidden>
	You do not have any reservations. Would you like to
	<a href='resgroup.php'>create</a> one?
      </div>
      <div id="groups"></div>
    </div>
  </div>
</div>
<div class='col-sm-12 hidden' id="groups-bytype-div">
  <div class='panel panel-default'>
    <div class='panel-head ing panel-heading-list'>
      <h4 class="text-center">Type Reservations</h4>
    </div>
    <div class='panel-body'>
      <div id="groups-bytype"></div>
    </div>
  </div>
</div>
<div class='col-sm-12 hidden' id="groups-byrange-div">
  <div class='panel panel-default'>
    <div class='panel-heading panel-heading-list'>
      <h4 class="text-center">Range Reservations</h4>
    </div>
    <div class='panel-body'>
      <div id="groups-byrange"></div>
    </div>
  </div>
</div>
<div class='modal fade' id="resusage-graph-modal">
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
	<div class='panel panel-default'>
	  <div class="panel-heading panel-heading-list">
            <button type='button' class='close' data-dismiss='modal'
                    aria-hidden='true'>&times;</button>
	    <center>
	      <h5>Reservation Usage
		<span class="resusage-graph-details"></span></h5>
	    </center>
	  </div>
	  <div class='panel-body panel-body-dashboard'>
	    <svg style="height: 75%; padding: 0px;"></svg>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div id="resusage-modals"></div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>
<div id='confirm_div'></div>
