<div class='row'>
  <div class='col-lg-6  col-lg-offset-3
       col-md-8 col-md-offset-2
       col-sm-10 col-sm-offset-1
       col-xs-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'>My Account</h3>
      </div>
      <div class='panel-body'>
	<span id="general_error" style="color:red;"></span>
	<form id='myaccount_form'
              role='form'
              enctype='multipart/form-data'
	      method='post' action='myaccount.php'>
	  <input type='hidden' name='uid' value='<%- formfields.uid %>'>
	  <%= verify_modal %>
	  <fieldset>
	    <div class="form-group">
	      <input name="ignore" value="<%- formfields.uid %>"
		     class="form-control format-me"
		     data-key="uid"
		     data-label="Username"
		     readonly type="text">
	    </div>
	    <div class="form-group">
	      <input name="name" value="<%- formfields.name %>"
		     class="form-control format-me" data-key="name"
		     placeholder="Alpha Numeric, no spaces"
		     data-label="Full Name"
		     type="text">
	    </div>
	    <div class="form-group">
	      <input name="email" value="<%- formfields.email %>"
		     class="form-control format-me"
		     data-key="email"
		     data-label="Email"
		     placeholder="Email" type="text">
	    </div>
	    <div class="form-group">
	      <input name="affiliation" value="<%- formfields.affiliation %>"
		     class="form-control format-me"
		     data-key="affiliation"
		     data-label="Institutional Affiliation"
		     placeholder="Institutional Affiliation" type="text">
	    </div>
	    <% if (window.ISPOWDER) { %>
	      <div class="form-group">
		<input name="address1" value="<%- formfields.address1 %>"
		       class="form-control format-me"
		       data-key="address1"
		       data-label="Home Address Line 1"
		       placeholder="Home Address Line 1" type="text">
	      </div>
	      <div class="form-group">
		<input name="address2" value="<%- formfields.address2 %>"
		       class="form-control format-me"
		       data-key="address2"
		       data-label="Home Address Line 2"
		       placeholder="Home Address Line 2" type="text">
	      </div>
	    <% } %>
	    <div class="form-group">
	      <select id="signup_countries" name="country"
		      class="form-control format-me bfh-countries"
		      data-country="<%- formfields.country %>"
		      data-placeholder="Country"
		      data-label="Country"
		      data-blank="false" data-ask="true" data-key="country">
	      </select>
	    </div>
	    <div class="form-group">
	      <select  id="signup_states" name="state"
		       class="form-control format-me bfh-states"
		       data-state="<%- formfields.state %>"
		       data-country="signup_countries" data-ask="true"
		       data-placeholder="State" data-blank="false"
		       data-label="State"
		       data-key="state">
	      </select>
	    </div>
	    <% if (window.ISPOWDER) { %>
	      <div class="row">
		<div class="col-xs-8" style="padding-right: 5px;">  
		  <div class="form-group">
		    <input name="city" value="<%- formfields.city %>"
			   class="form-control format-me"
			   data-key="city"
			   data-label="City"
			   placeholder="City"
			   type="text">
		  </div>
		</div>
		<div class="col-xs-4" style="padding-left: 5px;">  
		  <div class="form-group">
		    <input name="zip" value="<%- formfields.zip %>"
			   class="form-control format-me"
			   data-key="zip"
			   data-label="Zip/Postal Code"
			   placeholder="Zip/Postal Code"
			   type="text">
		  </div>
		</div>
	      </div>
	    <% } else { %>
	      <div class="form-group">
		<input name="city" value="<%- formfields.city %>"
		       class="form-control format-me"
		       data-key="city"
		       data-label="City"
		       placeholder="City"
		       type="text">
	      </div>
	    <% } %>
            <button class='btn btn-primary btn-sm pull-right'
		    style="margin-top: 15px;"
		    id='submit_button' disabled
		    type='submit' name='modify'>Save</button>
	  </fieldset>
	</form>
      </div>
    </div>
  </div>
</div>
<div id='addrequired-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<center><h4>Please update your profile</h4></center>
      </div>
      <div class='modal-body'>
	<p class="lead">
	  <% if (window.ISPOWDER) { %>
	    As the POWDER platform transitions into availability of
	    general over-the-air operation, platform users will need to
	    update their personal information.
	  <% } else { %>
	    Please take a moment to fill out the missing parts of your
	    profile. 
	  <% } %>
	</p>
      </div>
    </div>
  </div>
</div>
