<style type="text/css">
 .nowrap {  white-space: nowrap; }
</style>
<div>
  <table class='tablesorter' id='paramsets_table'>
    <thead>
      <tr>
	<th>Profile</th>
	<th>Set Name</th>
	<th>Created</th>
	<th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(paramsets, function(info) { %>
	<tr data-profile="<%- info.profile_uuid %>"
	    data-uuid="<%- info.uuid %>"
	    data-name="<%- info.name %>">
	  <%
	  var profile_name = info.profile_name;
	  var profile_uuid = info.profile_uuid;
	  var runurl       = "instantiate.php?profile=";
	  
	  if (info.version_uuid) {
	    if (info.reporef) {
	      profile_name += ":" + info.reporef;
	      profile_name += ":" + info.repohash.substr(0,8);
	      runurl += info.profile_uuid;
	      runurl += "&refspec=" + info.repohash;
	    }
	    else {
	      profile_uuid = info.version_uuid;
	      profile_name += ":" + info.profile_version;
	      runurl += info.version_uuid;
	    }
	  }
	  else {
	    runurl += info.profile_uuid;
	  }
	  runurl += "&rerun_paramset=" + info.uuid;
	  %>
	  <td><a href='show-profile.php?uuid=<%- profile_uuid %>'>
            <%- profile_name %></a></td>
	  <td><%= info.name %>
	    <a href='#' id="delete-paramset-button">
	      <span class='glyphicon glyphicon-remove pull-right'
		    style='color: red; margin-right: 4px;
			   margin-bottom: 4px;'
		    data-toggle='tooltip'
		    data-container="body"
		    data-trigger="hover"
		    title='Delete this parameter set'></span>
	    </a>
	    <a href="<%- runurl %>" class="run-paramset-button">
	      <span class='glyphicon glyphicon-play pull-right'
		    style='color: green; margin-right: 5px;
			   margin-bottom: 4px;'
		    data-toggle='tooltip'
		    data-container="body"
		    data-trigger="hover"
		    title='Run this parameter set'></span>
	    </a>
	  </td>
	  <td class="format-date nowrap">
	    <%- info.created %></td>
	  <td><%- info.description %></td>
	</tr>
      <% }); %>
    </tbody>
  </table>
</div>
