<style>
 .jstree {
     font-size: 16px;
 }
 .dl-horizontal {
     font-size: 16px;
 }
</style>

<div class='panel panel-default'>
  <div class='panel-heading text-center'>
    <h3 class='panel-title'>Hardware info</h3>
  </div>
  <div class='panel-body' style="padding-top: 10px;">
    <div class='row'>
      <div class='col-xs-5'
	   style="border-right:1px solid; height: 80vh; overflow: scroll;">
	<input class='form-control search'
	       style="width: 50%"
	       type='search' id='hardware-search' placeholder='Search'>      
	<div id="tree" style="margin-top: 5px;"></div>
      </div>
      <div class='col-xs-7'>
	<input class='form-control search'
	       style="width: 50%"
	       type='search' id='property-search'
	       placeholder='Search all properties'>      
	<div id="properties" style="margin-top: 5px;">
	  <dl class="dl-horizontal"></dl>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>


  
