<div class="form-group sidebyside-form" >
  <input name="formfields[uid]" value="<%- formfields.uid %>"
	 class="form-control format-me" data-key="uid"
	 placeholder="Username"
	 <% if (promoting) { %>readonly<% } else { %>autofocus<% } %>
	 type="text">
</div>  
<div class="form-group sidebyside-form" >
  <input name="formfields[fullname]" value="<%- formfields.fullname %>"
	 class="form-control format-me" data-key="fullname"
	 placeholder="Full Name" type="text">
</div>
<div class="form-group sidebyside-form" >
  <input name="formfields[email]" value="<%- formfields.email %>"
	 class="form-control format-me" data-key="email"
	 <% if (promoting) { %>readonly<% } %>
	 placeholder="Email" type="text">
</div>
<div class="form-group sidebyside-form" >
  <input name="formfields[affiliation]" value="<%- formfields.affiliation %>"
	 class="form-control format-me" data-key="affiliation"
	 placeholder="Institutional Affiliation" type="text">
</div>
<% if (window.ISPOWDER) { %>
<div class="form-group sidebyside-form" >
  <input name="formfields[address1]" value="<%- formfields.address1 %>"
	 class="form-control format-me" data-key="address1"
	 placeholder="Home Address Line 1" type="text">
</div>
<div class="form-group sidebyside-form" >
  <input name="formfields[address2]" value="<%- formfields.address2 %>"
	 class="form-control format-me" data-key="address2"
	 placeholder="Home Address Line 2" type="text">
</div>
<% } %>
<div class="form-group sidebyside-form" >
  <select id="signup_countries" name="formfields[country]"
          class="form-control format-me bfh-countries"
          data-country="<%- formfields.country %>"
          data-blank="false" data-ask="true" data-key="country">
  </select>
</div>
<div class="form-group sidebyside-form" >
  <select id="signup_states" name="formfields[state]"
          class="form-control format-me bfh-states"
	  data-state="<%- formfields.state %>"
	  data-country="signup_countries" data-ask="true"
          placeholder="State" data-blank="false" data-key="state">
  </select>
</div>
<% if (window.ISPOWDER) { %>
  <div class="form-group sidebyside-form" >
    <div class="row">
      <div class="col-xs-8" style="padding-right: 5px;">
	<input name="formfields[city]" value="<%- formfields.city %>"
	       class="form-control format-me" data-key="city"
	       placeholder="City" type="text">
      </div>
      <div class="col-xs-4" style="padding-left: 5px;">  
	<input name="formfields[zip]" value="<%- formfields.zip %>"
	       class="form-control format-me" data-key="zip"
	       placeholder="Zip/Postal Code" type="text">
      </div>
    </div>
  </div>
<% } else { %>
  <div class="form-group sidebyside-form" >
    <input name="formfields[city]" value="<%- formfields.city %>"
	   class="form-control format-me" data-key="city"
	   placeholder="City" type="text">
  </div>
<% } %>
<% if (!promoting) { %>
  <div class="form-group sidebyside-form" >
    <div class="format-me" data-key="keyfile">
      <span class="help-block">SSH Public Key file
	(<a target="_blank"
	    href='https://help.github.com/articles/generating-ssh-keys'>SSH
	Tutorial</a>)</span>
      <% if (_.has(formfields, "pubkey")) { %>
	<input type="hidden" name="pubkey" value="<%- formfields.pubkey %>">
      <% } %>
      <input type="hidden" name="MAX_FILE_SIZE" value=4096>
      <input type="file" name="keyfile"
             placeholder="SSH Public Key File">
    </div>
  </div>
  <div class="form-group sidebyside-form" >
    <input name="formfields[password1]" value="<%- formfields.password1 %>"
	   class="form-control format-me" data-key="password1"
	   placeholder="Password" type="password">
  </div>
  <div class="form-group sidebyside-form" >
    <input name="formfields[password2]" value="<%- formfields.password2 %>"
	   class="form-control format-me" data-key="password2"
	   placeholder="Confirm Password" type="password">
  </div>
<% } %>
